 <h2 style="text-align:center; font-weight:bold; margin-top:15px;">My Meetings</h2>
  <div class="meeting-grid">
    <% @meetings.each do |meeting| %>
      <div class="container">
        <%# <div class="row">
            <div class="col-6"> %>
            <div class="meetings-css">
            <p style="font-size:120%; font-weight:bold;">Meeting number: <%= link_to "#{meeting.id}", meeting_path(meeting) %></p>
            <p>Organizer: <%= meeting.user.username %></p>
            <p>Start date: <%= meeting.expected_start_date.strftime("%H:%M %d/%m/%y") %></p>
            <p>End date: <%= meeting.expected_end_date.strftime("%H:%M %d/%m/%y") %></p>
            <p>Expected duration: <%= meeting.expected_duration %> minutes</p>
            <% if meeting.actual_start_date.present? %>
              <p>Actual start date: <%= meeting.actual_start_date.strftime("%H:%M %d/%m/%y") %></p>
              <% else %>
              <p></p>
            <% end %>
            <% if meeting.actual_end_date.present? %>
              <p>Actual end date: <%= meeting.actual_end_date.strftime("%H:%M %d/%m/%y") %></p>
              <% else %>
              <p></p>
            <% end %>
            <% if meeting.actual_duration.present? %>
              <p>Actual end date: <%= meeting.actual_duration %></p>
              <% else %>
              <p></p>
            <% end %>
            <p>Participants: <%= meeting.participants_number %></p>
            <%# </div>
          </div> %>
        </div>
      </div>
    <% end %>
      <br>
  </div>
