<div class="div">
  <h2>Meeting number: <%= @meeting.id %></h2>
  <p>User: <%= @meeting.user.username %></p>
  <p>Expected start date: <%= @meeting.expected_start_date %></p>
  <p>Expected end date: <%= @meeting.expected_end_date %></p>
  <p>Expected duration(in minutes): <%= @meeting.expected_duration %></p>
  <p>Actual start date: <%= @meeting.actual_start_date %></p>
  <p>Actual end date: <%= @meeting.actual_end_date %></p>
  <p>Actual duration(in minutes): <%= @meeting.actual_duration %></p>
  <p>Number of participants: <%= @meeting.participants_number %></p>
</div>
