<div class="timer-group">
  <div class="timer hour" id="timer_duration">
    <div class="hand"><span></span></div>
    <div class="hand"><span></span></div>
  </div>
  <div class="timer minute">
    <div class="hand"><span></span></div>
    <div class="hand"><span></span></div>
  </div>
  <div class="timer second">
    <div class="hand"><span></span></div>
    <div class="hand"><span></span></div>
  </div>
  <div class="face">
    <h2>MEETING IQ</h2>
    <p id="clock">00:00:00</p>
  </div>
</div>

<div class="timer-btn">
  <button class="start"></button>
  <button class="stop"></button>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-sm-offset-2">
      <div class="meeting-card">
        <h2>Meeting number: <%= @meeting.id %></h2>
        <p>Organizer: <%= @meeting.user.username %></p>
        <p>Start date: <%= @meeting.expected_start_date.strftime("%H:%M %d/%m/%y") %></p>
        <p>End date: <%= @meeting.expected_end_date.strftime("%H:%M %d/%m/%y") %></p>
        <p id="expected_duration" data-meeting-expected-duration="<%= @meeting.expected_duration %>">Expected duration: <%= @meeting.expected_duration %> minutes</p>
        <% if @meeting.actual_start_date.present? %>
          <p>Actual start date: <%= @meeting.actual_start_date.strftime("%H:%M %d/%m/%y") %></p>
          <% else %>
          <p></p>
        <% end %>
        <% if @meeting.actual_end_date.present? %>
          <p>Actual end date: <%= @meeting.actual_end_date.strftime("%H:%M %d/%m/%y") %></p>
          <% else %>
          <p></p>
        <% end %>
        <% if @meeting.actual_duration.present? %>
          <p>Actual duration: <%= @meeting.actual_duration %> minutes</p>
          <% else %>
          <p></p>
        <% end %>
        <p>Participants: <%= @meeting.participants_number %></p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const initTimer = () => {

  var defaults = {}
    , one_second = 1000
    , one_minute = one_second * 60
    , one_hour = one_minute * 60
    , one_day = one_hour * 24
    , startDate = new Date()
    , face = document.getElementById('clock');

  // http://paulirish.com/2011/requestanimationframe-for-smart-animating/
  var requestAnimationFrame = (function() {
    return window.requestAnimationFrame       ||
          window.webkitRequestAnimationFrame ||
          window.mozRequestAnimationFrame    ||
          window.oRequestAnimationFrame      ||
          window.msRequestAnimationFrame     ||
          function( callback ){
            window.setTimeout(callback, 1000 / 60);
          };
  }());

  tick();

  function tick() {

    var now = new Date()
      , elapsed = now - startDate
      , parts = [];

    parts[0] = '' + Math.floor( elapsed / one_hour );
    parts[1] = '' + Math.floor( (elapsed % one_hour) / one_minute );
    parts[2] = '' + Math.floor( ( (elapsed % one_hour) % one_minute ) / one_second );

    parts[0] = (parts[0].length == 1) ? '0' + parts[0] : parts[0];
    parts[1] = (parts[1].length == 1) ? '0' + parts[1] : parts[1];
    parts[2] = (parts[2].length == 1) ? '0' + parts[2] : parts[2];

    face.innerText = parts.join(':');

    requestAnimationFrame(tick);

  }
}
</script>
