<div class="card-grid">
  <% @upcoming_meetings.each do |meeting| %>
    <div class="card">
      <header class="card-header">
        <h2><%= meeting.title %></h2>
      </header>
      <div class="card-content">
        <div class="row">
          <div class="col-3">
            <li class="card-content-item"><i class="fas fa-calendar-alt"></i></li>
          </div>
          <div class="col-9">
            <li class="card-content-item"><%= meeting.expected_start_date.strftime("%H:%M %d/%m/%y") %></li>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <li class="card-content-item"><i class="fas fa-building"></i></li>
          </div>
          <div class="col-9">
            <li class="card-content-item"><%= meeting.place %></li>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <li class="card-content-item"><i class="fas fa-clock"></i></li>
          </div>
          <div class="col-9">
            <li class="card-content-item"><%= pluralize(meeting.expected_duration, 'minute') %></li>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <ul class="card-footer-nav">
          <li class="card-footer-item"><i class="fas fa-user"></i> <%= meeting.participants_number %></li>
          <li class="card-footer-item"></li>
          <%= link_to meeting_path(meeting) do %>
            <li class="card-footer-item-show"><i class="fas fa-caret-square-right"></i></li>
          <% end %>
          <%= link_to meeting, method: :delete, data: { confirm: "Sure you want to delete this meeting?" } do %>
            <li class="card-footer-item-delete"><i class="fas fa-trash-alt"></i></li>
          <% end %>
        </ul>
      </footer>
    </div>
  <% end %>
</div>
