<h2 style="text-align:center; font-weight:bold; margin-top:15px;">My Upcoming Meetings</h2>

<div class="meeting-grid">
  <% @upcoming_meetings.each do |meeting| %>
  <div class="container">
    <div class="meetings-css">
      <div class="row">
        <div class="col-10">
          <p style="font-size:120%; font-weight:bold;">Meeting number: <%= link_to "#{meeting.id}", meeting_path(meeting) %></p>
        </div>
        <div class="col-2">
          <%= link_to  meeting, method: :delete, data: { confirm: "Are you sure?" }, class: "card-remove-link" do %>
            <i class="fas fa-trash-alt" style="font-size: 22px; margin-top: 12px; margin-left: 25px;"></i>
          <% end %>
        </div>
      </div>
      <p>Organizer: <%= meeting.user.username %></p>
      <p>Start date: <%= meeting.expected_start_date.strftime("%H:%M %d/%m/%y") %></p>
      <p>End date: <%= meeting.expected_end_date.strftime("%H:%M %d/%m/%y") %></p>
      <p>Expected duration: <%= meeting.expected_duration %> minutes</p>
      <% if meeting.actual_start_date.present? %>
        <p>Actual start date: <%= meeting.actual_start_date.strftime("%H:%M %d/%m/%y") %></p>
        <% else %>
          <p></p>
      <% end %>
      <% if meeting.actual_end_date.present? %>
        <p>Actual end date: <%= meeting.actual_end_date.strftime("%H:%M %d/%m/%y") %></p>
        <% else %>
          <p></p>
      <% end %>
      <% if meeting.actual_duration.present? %>
        <p>Actual end date: <%= meeting.actual_duration %></p>
        <% else %>
          <p></p>
      <% end %>
      <p>Participants: <%= meeting.participants_number %></p>
      <br>
    </div>
  </div>
  <% end %>
</div>
